body {
  background-image: radial-gradient(circle at center center, rgba(217, 217, 217, 0.05) 0%, rgba(217, 217, 217, 0.05) 15%, rgba(197, 197, 197, 0.05) 15%, rgba(197, 197, 197, 0.05) 34%, rgba(178, 178, 178, 0.05) 34%, rgba(178, 178, 178, 0.05) 51%, rgba(237, 237, 237, 0.05) 51%, rgba(237, 237, 237, 0.05) 75%, rgba(138, 138, 138, 0.05) 75%, rgba(138, 138, 138, 0.05) 89%, rgba(158, 158, 158, 0.05) 89%, rgba(158, 158, 158, 0.05) 100%), radial-gradient(circle at center center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 100%);
  background-size: 42px 42px;
}

.logo {
  width: 50px;
  border-radius: 50%;
}

.logo_cart {
  width: 50px;
}

.user_cart_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 300px;
  background: transparent;
}

.search:focus {
  outline: none;
  text-align: left;
}
.search:focus::placeholder {
  outline: none;
  text-align: left;
  color: transparent;
}

.logo_name {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.meal_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

}

.meal_items {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}


.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.search_container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.container_all_container {
  display: flex;
  justify-content: center;
}


@media (min-width:360px) {
  body {
    background-image: radial-gradient(circle at center center, rgba(217, 217, 217, 0.05) 0%, rgba(217, 217, 217, 0.05) 15%, rgba(197, 197, 197, 0.05) 15%, rgba(197, 197, 197, 0.05) 34%, rgba(178, 178, 178, 0.05) 34%, rgba(178, 178, 178, 0.05) 51%, rgba(237, 237, 237, 0.05) 51%, rgba(237, 237, 237, 0.05) 75%, rgba(138, 138, 138, 0.05) 75%, rgba(138, 138, 138, 0.05) 89%, rgba(158, 158, 158, 0.05) 89%, rgba(158, 158, 158, 0.05) 100%), radial-gradient(circle at center center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 100%);
    background-size: 42px 42px;
  }
  
  .logo {
    width: 30px;
    border-radius: 50%;
  }
  
  .logo_cart {
    width: 20px;
  }
  
  .user_cart_container {
    display: flex;
    gap: 1rem;
  }
  
  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
  }
  
  .search {
    width: 100px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }
  
  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  .meal_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  
  }
  
  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  
  .button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button-24:active {
    opacity: .5;
  }
  
  .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .container_all_container {
    display: flex;
    justify-content: center;
  }
  
}

@media (min-width:768px) {
  body {
    background-image: radial-gradient(circle at center center, rgba(217, 217, 217, 0.05) 0%, rgba(217, 217, 217, 0.05) 15%, rgba(197, 197, 197, 0.05) 15%, rgba(197, 197, 197, 0.05) 34%, rgba(178, 178, 178, 0.05) 34%, rgba(178, 178, 178, 0.05) 51%, rgba(237, 237, 237, 0.05) 51%, rgba(237, 237, 237, 0.05) 75%, rgba(138, 138, 138, 0.05) 75%, rgba(138, 138, 138, 0.05) 89%, rgba(158, 158, 158, 0.05) 89%, rgba(158, 158, 158, 0.05) 100%), radial-gradient(circle at center center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 100%);
    background-size: 42px 42px;
  }
  
  .logo {
    width: 50px;
    border-radius: 50%;
  }
  
  .logo_cart {
    width: 50px;
  }
  
  .user_cart_container {
    display: flex;
    gap: 1rem;
  }
  
  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
  }
  
  .search {
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }
  
  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  .meal_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  
  }
  
  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  
  .button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button-24:active {
    opacity: .5;
  }
  
  .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .container_all_container {
    display: flex;
    justify-content: center;
  }
 
}


@media (min-width:1024px) {
  body {
    background-image: radial-gradient(circle at center center, rgba(217, 217, 217, 0.05) 0%, rgba(217, 217, 217, 0.05) 15%, rgba(197, 197, 197, 0.05) 15%, rgba(197, 197, 197, 0.05) 34%, rgba(178, 178, 178, 0.05) 34%, rgba(178, 178, 178, 0.05) 51%, rgba(237, 237, 237, 0.05) 51%, rgba(237, 237, 237, 0.05) 75%, rgba(138, 138, 138, 0.05) 75%, rgba(138, 138, 138, 0.05) 89%, rgba(158, 158, 158, 0.05) 89%, rgba(158, 158, 158, 0.05) 100%), radial-gradient(circle at center center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 100%);
    background-size: 42px 42px;
  }
  
  .logo {
    width: 50px;
    border-radius: 50%;
  }
  
  .logo_cart {
    width: 50px;
  }
  
  .user_cart_container {
    display: flex;
    gap: 1rem;
  }
  
  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .search {
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }
  
  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
  }
  
  .meal_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  
  }
  
  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  
  .button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button-24:active {
    opacity: .5;
  }
  
  .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .container_all_container {
    display: flex;
    justify-content: center;
  }
 
}

@media (min-width:1240px) {
  body {
    background-image: radial-gradient(circle at center center, rgba(217, 217, 217, 0.05) 0%, rgba(217, 217, 217, 0.05) 15%, rgba(197, 197, 197, 0.05) 15%, rgba(197, 197, 197, 0.05) 34%, rgba(178, 178, 178, 0.05) 34%, rgba(178, 178, 178, 0.05) 51%, rgba(237, 237, 237, 0.05) 51%, rgba(237, 237, 237, 0.05) 75%, rgba(138, 138, 138, 0.05) 75%, rgba(138, 138, 138, 0.05) 89%, rgba(158, 158, 158, 0.05) 89%, rgba(158, 158, 158, 0.05) 100%), radial-gradient(circle at center center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 100%);
    background-size: 42px 42px;
  }
  
  .logo {
    width: 50px;
    border-radius: 50%;
  }
  
  .logo_cart {
    width: 50px;
  }
  
  .user_cart_container {
    display: flex;
    gap: 1rem;
  }
  
  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .search {
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }
  
  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 1.5rem;

    font-style: normal;
  }
  
  .meal_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  
  }
  
  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  
  .button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button-24:active {
    opacity: .5;
  }
  
  .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .container_all_container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width:1440px) {
  body {
    background-image: radial-gradient(circle at center center, rgba(217, 217, 217, 0.05) 0%, rgba(217, 217, 217, 0.05) 15%, rgba(197, 197, 197, 0.05) 15%, rgba(197, 197, 197, 0.05) 34%, rgba(178, 178, 178, 0.05) 34%, rgba(178, 178, 178, 0.05) 51%, rgba(237, 237, 237, 0.05) 51%, rgba(237, 237, 237, 0.05) 75%, rgba(138, 138, 138, 0.05) 75%, rgba(138, 138, 138, 0.05) 89%, rgba(158, 158, 158, 0.05) 89%, rgba(158, 158, 158, 0.05) 100%), radial-gradient(circle at center center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 100%);
    background-size: 42px 42px;
  }
  
  .logo {
    width: 50px;
    border-radius: 50%;
  }
  
  .logo_cart {
    width: 50px;
  }
  
  .user_cart_container {
    display: flex;
    gap: 1rem;
  }
  
  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .search {
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }
  
  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 1.5rem;

    font-style: normal;
  }
  
  .meal_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  
  }
  
  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  
  .button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button-24:active {
    opacity: .5;
  }
  
  .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .container_all_container {
    display: flex;
    justify-content: center;
  }
 
}


@media (min-width:1600px) {
  body {
    background-image: radial-gradient(circle at center center, rgba(217, 217, 217, 0.05) 0%, rgba(217, 217, 217, 0.05) 15%, rgba(197, 197, 197, 0.05) 15%, rgba(197, 197, 197, 0.05) 34%, rgba(178, 178, 178, 0.05) 34%, rgba(178, 178, 178, 0.05) 51%, rgba(237, 237, 237, 0.05) 51%, rgba(237, 237, 237, 0.05) 75%, rgba(138, 138, 138, 0.05) 75%, rgba(138, 138, 138, 0.05) 89%, rgba(158, 158, 158, 0.05) 89%, rgba(158, 158, 158, 0.05) 100%), radial-gradient(circle at center center, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 6%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 12%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 31%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 92%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 97%, rgb(255, 255, 255) 100%);
    background-size: 42px 42px;
  }
  
  .logo {
    width: 50px;
    border-radius: 50%;
  }
  
  .logo_cart {
    width: 50px;
  }
  
  .user_cart_container {
    display: flex;
    gap: 1rem;
  }
  
  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .search {
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }
  
  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;

  }
  
  .meal_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  
  }
  
  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
  }
  
  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  
  .button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button-24:active {
    opacity: .5;
  }
  
  .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .container_all_container {
    display: flex;
    justify-content: center;
  }
 
}