body {
  background-image: url('../../assets/bcg-8.jpg');
  background-size: 42px 42px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 50px;
  border-radius: 50%;
}

.logo_cart {
  width: 50px;
}

.user_cart_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}

.meal_items{
  backdrop-filter: blur(5px);
}

.search {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 300px;
  background: transparent;
  color: white;
}

.search:focus {
  border-bottom: 3px solid white;
}

.search:focus {
  outline: none;
  text-align: left;
}

.search:focus::placeholder {
  outline: none;
  text-align: left;
  color: transparent;
}

.all_home_item{
  min-height: 100vh;
}

.logo_name {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.meal_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

}

.meal_items {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.search_container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.container_all_container {
  display: flex;
  justify-content: center;
}


@media (min-width:360px) {


  .logo {
    width: 30px;
    border-radius: 50%;
  }

  .logo_cart {
    width: 20px;
  }

  .user_cart_container {
    display: flex;
    gap: 1rem;
  }

  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .search {
    width: 100px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }

  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .meal_list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

  }

  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    color:white
  }

  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }


  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  
  .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .container_all_container {
    display: flex;
    justify-content: center;
  }

}

@media (min-width:768px) {

  .logo {
    width: 50px;
    border-radius: 50%;
  }

  .logo_cart {
    width: 50px;
  }

  .user_cart_container {
    display: flex;
    gap: 1rem;
  }

  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .search {
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }

  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color:#fb8332;
  }

  .meal_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

  }

  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }


  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
    .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .container_all_container {
    display: flex;
    justify-content: center;
  }

}


@media (min-width:1024px) {


  .logo {
    width: 50px;
    border-radius: 50%;
  }

  .logo_cart {
    width: 50px;
  }

  .user_cart_container {
    display: flex;
    gap: 1rem;
  }

  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .search {
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }

  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
  }

  .meal_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

  }

  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }


  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  
  .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .container_all_container {
    display: flex;
    justify-content: center;
  }

}

@media (min-width:1240px) {


  .logo {
    width: 50px;
    border-radius: 50%;
  }

  .logo_cart {
    width: 50px;
  }

  .user_cart_container {
    display: flex;
    gap: 1rem;
  }

  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .search {
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }

  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 1.5rem;

    font-style: normal;
  }

  .meal_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

  }

  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }


  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  
  .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .container_all_container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width:1440px) {


  .logo {
    width: 50px;
    border-radius: 50%;
  }

  .logo_cart {
    width: 50px;
  }

  .user_cart_container {
    display: flex;
    gap: 1rem;
  }

  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .search {
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }

  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 1.5rem;

    font-style: normal;
  }

  .meal_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

  }

  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }


  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  
  .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .container_all_container {
    display: flex;
    justify-content: center;
  }

}


@media (min-width:1600px) {


  .logo {
    width: 50px;
    border-radius: 50%;
  }

  .logo_cart {
    width: 50px;
  }

  .user_cart_container {
    display: flex;
    gap: 1rem;
  }

  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .container_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .search {
    width: 300px;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
  }

  .logo_name {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;

  }

  .meal_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

  }

  .meal_items {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
  }

  .button_container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }


  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

  .search_container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .container_all_container {
    display: flex;
    justify-content: center;
  }

}

.quantity_input{
  width: 50px;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  color: white;
}